.container{
 			margin: 0px auto;
 			width: 1200px;
 		}
#section-2{ 
    overflow: hidden; 
    margin-top: 2em; 
    padding-top: 0em; 
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
    text-align: center; 
} 
.button { 
    text-decoration: none; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    background-color: #4CAF50;  
    color: white;  
    border: 2px solid #4CAF50; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    cursor: pointer; 
} 
      
.button:hover { 
    background-color: white; 
    color: #4CAF50; 
} 
table{
    font-family: Calibri;
    color: black;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
    text-align: left; 
    background-color: lightblue;
    border-collapse: collapse;
    border:2px solid navy;
}
table.inner{
    border:0px;
}